<% content_for :content do %>
  <section>
    <div class="container">
      <h1>Listing Issues</h1>
      <p>
        <%= link_to 'New Issue', new_issue_path %>
      </p>
      <%= generate_table(
        striped: true,
        data_table: true,
        header: ['Number', 'Title', 'Feature', 'Test suite', 'Closed', 'User', '', '', ''],
        content: @issues.map do |issue|
          [
            issue.number,
            issue.title,
            issue.feature.try(:name),
            issue.test_suite.try(:name),
            issue.closed,
            issue.user.email,
            link_to('Show', issue_path(issue)),
            link_to('Edit', edit_issue_path(issue)),
            link_to('Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' })
          ]
        end) %>
    </div>
  </section>
<% end %>