<% content_for :content do %>
  <section>
    <div class="container">
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
    </div>
  </section>
<% end %>