<% content_for :content do %>
  <div class="container">
    <p>
      <strong>Name:</strong>
      <%= @bug_bash.name %>
    </p>      
    <p>
      <strong>Done:</strong>
      <%= @bug_bash.done %>
    </p>      
    
    <%= link_to 'Back', bug_bashes_path, class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_bug_bash_path(@bug_bash), class: 'btn btn-primary' %>
  </div>
<% end %>