<% content_for :content do %>
  <section class="welcome">
    <div class="container">
      <h1>Welcome to this page</h1>
      <p>This is a comment that tells you something</p>
    </div>
  </section>
  <section class="info">
    <div class="container">
      <h2 class="text-center">We help you out</h2>
      <div class="row">
        <div class="col-md-6 md-padded">
          <div class="icon-box">
            <i class="fa fa-lightbulb-o blue icon"></i>
            <p class="info-text">
              Lorem ipsum dolor sit amet, in dicunt moderatius sed. At vix fugit delenit, his an facilis ancillae adipisci. Conceptam moderatius deterruisset ex eos, ea nulla vivendum democritum sea.
            </p>
          </div>
        </div>
        <div class="col-md-6 md-padded">
          <div class="icon-box">
            <i class="fa fa-star red icon"></i>
            <p class="info-text">
              Lorem ipsum dolor sit amet, in dicunt moderatius sed. At vix fugit delenit, his an facilis ancillae adipisci. Conceptam moderatius deterruisset ex eos, ea nulla vivendum democritum sea.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>