<% content_for :content do %>
  <section>
    <div class="container">
      <h1>Edit Github_token</h1>

      <%= render 'form' %>

      <%= link_to 'Back', github_tokens_path %>
    </div>
  </section>
<% end %>
