<% content_for :content do %>
  <section>
    <div class="container">
      <h1>Listing Github_tokens</h1>
      <p>
        <%= link_to 'New GithubToken', new_github_token_path %>
      </p>

      <%= generate_table(
        striped: true,
        data_table: true,
        header: ['Title', '', '', ''],
        content: @github_tokens.map do |github_token|
          [
            github_token.title,
            link_to('Show', github_token_path(github_token)),
            link_to('Edit', edit_github_token_path(github_token)),
            link_to('Destroy', github_token, method: :delete, data: { confirm: 'Are you sure?' })
          ]
        end) %>
    </div>
  </section>
<% end %>