<%% content_for :content do %>
  <section>
    <div class="container">
      <h1>New <%= singular_table_name.capitalize %></h1>

      <%%= render 'form' %>

      <%%= link_to 'Back', <%= plural_table_name %>_path %>
    </div>
  </section>
<%% end %>