<% content_for :content do %>
  <section>
    <div class="container">
      <h1>New Feature</h1>

      <%= render 'form' %>

      <%= link_to 'Back', test_suite_path(@test_suite) %>
    </div>
  </section>
<% end %>