<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        &copy; <%= Time.now.year %> Copyright Trialbee. All rights reserved.
      </div>
    </div>
  </div>
</section>