<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        &copy; <%= Time.now.year %> Copyright <%=  %>. All rights reserved.
      </div>
      <div class="col-sm-6">
        <ul class="footer-links">
          <li><%= link_to 'cookies', '#' %></li>
        </ul>
      </div>
    </div>
  </div>
</section>